PANDAS SON DERS

In [1]:
import numpy as np
import pandas as pd

In [15]:
df=pd.read_csv('mpg.csv')

In [5]:
df.shape

(6, 9)

In [6]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
5,20.0,6,200.0,95,2800,15.0,71,2,toyota corona

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           6 non-null      float64
 1   cylinders     6 non-null      int64
 2   displacement  6 non-null      float64
 3   horsepower    6 non-null      int64
 4   weight        6 non-null      int64
 5   acceleration  6 non-null      float64
 6   model_year    6 non-null      int64
 7   origin        6 non-null      int64
 8   name          6 non-null      object
dtypes: float64(3), int64(5), object(1)
memory usage: 564.0+ bytes

In [8]:
df.horsepower

0    130
1    165
2    150
3    150
4    140
5     95
Name: horsepower, dtype: int64

In [11]:
df.horsepower.replace(130,'?', inplace=True)

In [12]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,?,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
5,20.0,6,200.0,95,2800,15.0,71,2,toyota corona

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           6 non-null      float64
 1   cylinders     6 non-null      int64
 2   displacement  6 non-null      float64
 3   horsepower    6 non-null      object
 4   weight        6 non-null      int64
 5   acceleration  6 non-null      float64
 6   model_year    6 non-null      int64
 7   origin        6 non-null      int64
 8   name          6 non-null      object
dtypes: float64(3), int64(4), object(2)
memory usage: 564.0+ bytes

In [17]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
5,20.0,6,200.0,95,2800,15.0,71,2,toyota corona

In [19]:
df.horsepower=df.horsepower.astype(float)

In [20]:
# mpg performansını yıllara göre kıyasla

In [22]:
df.model_year

0    70
1    70
2    70
3    70
4    70
5    71
Name: model_year, dtype: int64

In [23]:
df.model_year.value_counts()

model_year
70    5
71    1
Name: count, dtype: int64

.GROUPBY(SÜTUN İSMİ) METHODU

In [24]:
# .groupby (sütun ismi) bu kullanık-m ile bir sütundaki değerlere göre gruplama yapabilir.
# devamında grupladıkran sonra bir aggregate function ına bakamllıyız

mean(): Compute mean of groups
sum(): Compute sum of group values
size(): Compute group sizes
count(): Compute count of group
std(): Standard deviation of groups
var(): Compute variance of groups
sem(): Standard error of the mean of groups
describe(): Generates descriptive statistics
first(): Compute last of group values
last(): Compute last of group values
nth(): Take nth value, or a subset if n is a list
min(): Compute min of group values
max(): Compute max of group values

In [25]:
# grupladıktan sonra bunlardan bir tanesini ya da birkaçını yazmak zorundayız

In [26]:
# mpg performansını yıllara göre sırala

In [29]:
df.groupby('model_year') ['mpg'].mean() # 71 li yıllara gelindiğinde yakıt tüketimi ortalaması artmıştır

model_year
70    16.8
71    20.0
Name: mpg, dtype: float64

In [36]:
df.groupby(['model_year','cylinders']).mean(numeric_only=True)

,,mpg,displacement,horsepower,weight,acceleration,origin
model_year,cylinders,,,,,,
70,8,16.8,316.2,147.0,3503.0,11.4,1.0
71,6,20.0,200.0,95.0,2800.0,15.0,2.0