DATAFRAME BASİCS

In [1]:
 # DF oluşturma
 #  DF nin içerisinde bir ya da birden fazla column u sütünı seçmek
 # DF in içerisinde bir ya da birden fazla rowu satırı seçmek
 # DF içerisinde bir column ya da row ekleme

In [2]:
import numpy as np
import pandas as pd

In [3]:
 #  pd.DataFrame() fonksiyonu ile oluşur

In [7]:
my_data=np.random.randint(0,101,size=(5,4))
my_data

array([[62, 88, 58, 72],
       [49,  2, 18, 55],
       [45, 93, 38, 85],
       [64, 62, 49, 26],
       [22, 39, 75, 55]], dtype=int32)

In [8]:
pd.DataFrame(my_data)

    0   1   2   3
0  62  88  58  72
1  49   2  18  55
2  45  93  38  85
3  64  62  49  26
4  22  39  75  55

In [10]:
index=['TR','BR','USA','RU']
cols=['jan','feb','mar']
data=np.random.randint(0,101,size=(4,3))

In [12]:
df=pd.DataFrame(data=data, index=index, columns=cols)
df

     jan  feb  mar
TR   100   30   94
BR    68   73   25
USA   75   75   31
RU    13   29   60

In [13]:
df.info()  # .info() methodu ile DF içindeki bütün volumnların temel bilgilerini görebiliriz

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, TR to RU
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   jan     4 non-null      int32
 1   feb     4 non-null      int32
 2   mar     4 non-null      int32
dtypes: int32(3)
memory usage: 80.0+ bytes

In [15]:
df.index

Index(['TR', 'BR', 'USA', 'RU'], dtype='object')

In [16]:
df.index=[0,1,2,3]

In [17]:
df

   jan  feb  mar
0  100   30   94
1   68   73   25
2   75   75   31
3   13   29   60

In [19]:
df.columns=['1.','2.','3.']

In [20]:
df

    1.  2.  3.
0  100  30  94
1   68  73  25
2   75  75  31
3   13  29  60

HAZIR BİR DATA ÇAĞIRMAK

In [28]:
!cd

C:\Users\HP

In [27]:
pd.read_csv('ornek_ogrenciler.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'ornek_ogrenciler.csv'