PANDAS NEDİR

In [1]:
# pandas açık kaynaklı ve ücretsiz veri işleme, manipüle etme,temizleme gibi işlemleri yaptığımız bir kütüphanedir
# pandas kütüp numpy kütüphanesi üzerine lurulmış bir kütüp. arka tarafta büyük bir alanda numpy çalışıyor
# sütun bazlı çalışır numpy satır bazlı çalışır numpy çok hızlıdır pandas ta numpy den aldığı için hızlıdr
# pandas elimizdeki veriyi bilgiyi şekillendirip işlememize ve sonuç çıkarmamıza olanak sağlar
# A/B testleri de pandas ile anlamlı sonuçlar çıkarmamızı sağlar
# pandas kütüphanesinin temel elemanları Series ve DataFramedir
#  Series ve DataFrame nesnelerini excel tabloları gibi düşüneülebilir

In [2]:
# Series lerde indexler var sütünlar adlandırılmamış column şeklinde değildir dictionary gibi düşünebiliriz
# DataFrame de indexler var birden fazla column dan oluşmuştur

PANDAS İMPORT ETME

In [4]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\hp\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

SERİES OLUŞTURMA

In [7]:
import pandas as pd
import numpy as np

In [8]:
# seri için elimde bir bilgi olmalı kendi bilgimizi kendimiz oluşturalım
my_data=['Emircan','Alper','Zeynep']
my_data

['Emircan', 'Alper', 'Zeynep']

In [9]:
# pd.Series() fonk ile elimizdeki verileri Series haline getirebiliriz
pd.Series(my_data)  # data=None, inedex=None, dtype=None

0    Emircan
1      Alper
2     Zeynep
dtype: object

In [11]:
my_date=[1923,1775,1853] 
my_ind=['Türkiye','USA','Canada']

In [12]:
pd.Series(my_date,my_ind)

Türkiye    1923
USA        1775
Canada     1853
dtype: int64

In [13]:
pd.Series(data=my_date, index=my_ind)

Türkiye    1923
USA        1775
Canada     1853
dtype: int64

In [14]:
# pd.Series() fonk içerisine dictionary de alabilir dictionary nin keyleri indexleri valulaeri değer olur

In [15]:
my_dict={ 
    'Emircan':26,
    'Kaan':23,
    'Ayşe':21,
    'Deniz':29
}

In [16]:
my_dict

{'Emircan': 26, 'Kaan': 23, 'Ayşe': 21, 'Deniz': 29}

In [17]:
pd.Series(data=my_dict)

Emircan    26
Kaan       23
Ayşe       21
Deniz      29
dtype: int64

In [21]:
sehir=['İstanbul','İzmir','Ankara','Bursa']
deger=[15.4,4.3,5.6,3]
pd.Series(data=deger, index=sehir)

İstanbul    15.4
İzmir        4.3
Ankara       5.6
Bursa        3.0
dtype: float64

In [22]:
dict={
    'İstanbul':15.4,
    'İzmir':4.3,
    'Ankara':5.6,
    'Bursa':3
}

In [24]:
pd.Series(dict)

İstanbul    15.4
İzmir        4.3
Ankara       5.6
Bursa        3.0
dtype: float64

SERİLERDE İŞLEMLER

In [25]:
q1={'japan':80,'China':450,'Turkey':150,'İndia':200}
q2={'japan':809,'China':40,'Turkey':1900,'İndia':20}

In [27]:
sales_q1=pd.Series(q1)
sales_q1

japan      80
China     450
Turkey    150
İndia     200
dtype: int64

In [28]:
sales_q2=pd.Series(q2)
sales_q2

japan      809
China       40
Turkey    1900
İndia       20
dtype: int64

In [30]:
sales_total=sales_q1+sales_q2
sales_total

japan      889
China      490
Turkey    2050
İndia      220
dtype: int64

In [31]:
sales_total.index  # .index attribute ı ild bakabikiriz

Index(['japan', 'China', 'Turkey', 'İndia'], dtype='object')

In [33]:
sales_total.keys()   # .keys() methoduyla bakabiliriz

Index(['japan', 'China', 'Turkey', 'İndia'], dtype='object')

In [35]:
sales_total.values

array([ 889,  490, 2050,  220])

In [36]:
sales_total

japan      889
China      490
Turkey    2050
İndia      220
dtype: int64

In [37]:
sales_total**2

japan      790321
China      240100
Turkey    4202500
İndia       48400
dtype: int64

In [39]:
sales_q2-sales_q1

japan      729
China     -410
Turkey    1750
İndia     -180
dtype: int64

In [40]:
q1={'japan':80,'China':450,'İndia':150,'USA':200}
q2={'brazil':809,'China':40,'İndia':1900,'USA':20}

In [41]:
sales_q1=pd.Series(q1)
sales_q2=pd.Series(q2)

In [42]:
sales_q1

japan     80
China    450
İndia    150
USA      200
dtype: int64

In [43]:
sales_q2

brazil     809
China       40
İndia     1900
USA         20
dtype: int64

In [44]:
sales_q1+sales_q2

China      490.0
USA        220.0
brazil       NaN
japan        NaN
İndia     2050.0
dtype: float64

In [47]:
sales_q1.add(sales_q2)

China      490.0
USA        220.0
brazil       NaN
japan        NaN
İndia     2050.0
dtype: float64

In [49]:
sales_q1.add(sales_q2,fill_value=0)

China      490.0
USA        220.0
brazil     809.0
japan       80.0
İndia     2050.0
dtype: float64

In [51]:
sales_q1.dtype  # .dtype attribute ı ile içindeki verilerin tiplerini çekebiliriz

dtype('int64')

In [66]:
takım1=['Fener','Galata','Besik','Trabzon',]
deger1=[51,60,48,41]
deger2=[73,68,59,81]
deger3=[82,84,84,71]
league22=pd.Series(deger1,takım1)
league23=pd.Series(deger2,takım1)
league24=pd.Series(deger3,takım1)

In [67]:
league23

Fener      73
Galata     68
Besik      59
Trabzon    81
dtype: int64

In [68]:
league22

Fener      51
Galata     60
Besik      48
Trabzon    41
dtype: int64

In [69]:
league24

Fener      82
Galata     84
Besik      84
Trabzon    71
dtype: int64

In [70]:
league22=pd.Series(data={'Fener':51,'Galata':60,'Besik':59,'Trabzon':81})   # hoca böyle yaptı

In [71]:
league22

Fener      51
Galata     60
Besik      59
Trabzon    81
dtype: int64

In [72]:
league22+league23+league24

Fener      206
Galata     212
Besik      202
Trabzon    233
dtype: int64